
@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4"> Tarot Cards </h1>
    <p> I am <strong> Diya Khanal. </strong></p>
    <p> Student Num= 0795230 </p>
    <p> It is currently @DateTime.Now </p>
</div>
