#a1{
background-color: cornflowerblue;

}


#a2{
background-color: bisque;
}

#a3{
background-color: green;
}

#messagesList{

background-color: darkgrey;
color:black;
padding-left: 50px;
}

.received, .sent {
    position: relative;
    font-family: arial;
    font-size: 1.1em;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

li{
list-style-type: none;
text-align: left;
}

.justify-content-end {
text-decoration: underline;

}